/*
* {
  border: 1px solid red;
}
*/
.grid-container {
  padding: 0px; }

/*** Menu: Starts ***/

  /* Menu Icon: Starts */
  header {
    width: 100%;
    height: 100%;
    z-index: 990; }
  .title-bar {
    width: 100%;
    background-color: transparent;
    padding: 15px;
    position: absolute; }
    .title-bar h1 {
      height: 20px;
      font-family: 'Russo One', sans-serif;
      font-size: 8pt;
      margin-left: 0px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0px;
      padding-top: 12px;
      position: absolute; }
      .title-bar h1 a {
        color: #29a76d;; }
    .menu-icon {
      width: 35px;
      height: 27px;
      top: 5px;
      outline: none; }
      .menu-icon::after {
        height: 5px;
        background: #29a76d;
        box-shadow: 0 10px 0 #29a76d, 0 20px 0 #29a76d; }
        .menu-icon:hover::after {
          background: #29a76d;
          box-shadow: 0 10px 0 #29a76d, 0 20px 0 #29a76d;
          -webkit-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  /* Menu Icon: Ends */


  /* Off Canvas Menu: Starts */
  #offCanvasNestedOverlap{
    height: 580px;
    background-color: #29a76d;
    border-radius: 0px 0px 0px 40px;
    z-index: 999; }
  .position-right {
    width: 130px; }
    .close_button {
      height: 30px;
      width: 30px;
      background-image: url("../images/close_icon.png");
      background-size: contain;
      outline: none;
      cursor: pointer;
      left: 40%;
      top: 20px;
      margin-bottom: 30px;
      position: relative;
      z-index: 999; }
    .menu.vertical {
      height: 350px; }
    .off-canvas ul {
      padding-top: 10px; }
      .off-canvas ul li {
        padding: 10px; }
      .off-canvas ul li a {
        font-family: 'Roboto-bold', sans-serif;
        font-size: 14pt;
        text-align: center;
        color: #fff;
        outline: none; }
    .off-canvas hr {
      width: 80%;
      margin-top: 40px;
      margin-bottom: 20px;
      border: 1px solid #7fcaa7; }
    .off-canvas a {
      width: 100%;
      height: 100%; }
  /* Off Canvas Menu: Ends */

/*** Menu: Ends ***/


/*** Home Section: Sarts ***/
#home {
  height: 100vh;
  background-image: url('../images/homeimage_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  #homeimage {
    display: none; }
  #home #homearticle_mt {
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
    margin: 0 auto; }
    #home #homearticle_mt h1 {
      font-family: 'Russo One', sans-serif;
      font-weight: bold;
      font-size: 30pt;
      color: #29a76d;
      letter-spacing: 2px;
      text-align: center; }
    #home #homearticle_mt h2 {
      font-family: 'Roboto-black', sans-serif;
      font-size: 9pt;
      color: #fff;
      text-align: center;
      letter-spacing: 1px; }
    #home #homearticle_desktop {
      display: none; }

      /*** Intro Paragraph: Starts ***/
      #mobile_intro_content {
        height: auto;
        background-image: url('../images/homeimage2_mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        outline: none;
        border: none;
        text-align: center;
        padding: 20px 20px 50px 20px; }
        #mobile_intro_paragraph p {
          width: 100%;
          max-width: 820px;
          font-family: 'Roboto-medium', sans-serif;
          font-size: 14pt;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          padding-bottom: 20px; }
        #mobile_intro_paragraph img {
          width: 40px;
          height: 30px; }
      /*** Inro Paragraph: Ends ***/

/*** Home Sectin: Ends ***/


/*** Shared styling across section and pages: Starts ***/
.section_container {
  height: auto;
  background-color: #fff;
  margin: 0px;
  padding-top: 100px;
  position: relative;}
  .section_container article {
    text-align: center;
    color: #112032;
    margin: 0px;
    padding: 0px 20px; }
    .section_container article h2 {
      font-family: 'Roboto-bold', sans-serif;
      font-size: 10pt;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .section_container article h1 {
      font-family: 'Roboto-bold', sans-serif;
      font-size: 30pt;
      text-transform: uppercase; }
    .section_container article img{
      height: 180px;
      color: rgb(22,44,60);
      padding: 20px 0px; }
    .section_container article p {
      font-family: 'Roboto', sans-serif;
      font-size: 12pt;
      margin: 0px; }
  .break_photo {
    height: 250px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    padding: 110px 0px; }
    .link_box_mobile {
      width: 200px;
      background: rgba(41, 167, 109, 1);
      font-family: 'Roboto-bold', sans-serif;
      font-size: 14pt;
      color: #fff;
      text-transform: uppercase;
      border-radius: 10px;
      margin: 0 auto;
      padding: 15px; }
      .link_box_mobile:before,
      .link_box_mobile:after {
        color: #fff; }
      .link_box_mobile img {
        width: 15px;
        height: 15px;
        margin: 0px;
        padding: 0px; }
.hr_styling {
  width: 50px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px; }
/***  Shared styling across section and pages: Ends ***/


/*** Episodes Sections: Starts ***/
#episodes_break_photo {
  background-image: url("../images/episodes_break_photo.jpg"); }
/*** Episodes Section: Ends ***/


/*** Blog Section: Starts ***/
#blog_break_photo {
  background-image: url("../images/blog_break_photo.jpg"); }
/*** Blog Section: Ends ***/


/*** Blog Section: Starts ***/
#events_break_photo {
  background-image: url("../images/events_break_photo.jpg"); }
/*** Blog Section: Ends ***/


/*** Creators Section: Starts ***/
#creators {
  height: auto;
  margin: 0px;
  padding-top: 100px; }
  #creators article {
    text-align: center;
    color: rgba(22, 44, 60, 1);
    margin: 0 auto;
    padding: 0px 20px; }
    #creators article h2 {
      font-family: 'Roboto-bold', sans-serif;
      font-size: 10pt;
      text-transform: uppercase;
      letter-spacing: 1px; }
    #creators article h1 {
      font-family: 'Roboto-bold', sans-serif;
      font-size: 30pt;
      text-transform: uppercase; }
    #creators_info1 img {
      width: 100%;
      height: auto;
      padding: 40px 20px 0px 20px;
      z-index: 20; }
    #creators_info2 img {
      width: 100%;
      height: auto;
      padding: 100px 20px 0px 20px;
      z-index: 20; }
    #creators_info1 #background_bio1,
    #creators_info2 #background_bio2 {
      width: 100%;
      height: auto;
      background-color: #112032;
      margin-top: -100px;
      padding: 120px 20px 50px 20px;
      z-index: 10; }
      #background_bio1 h1,
      #background_bio2 h1 {
        font-family: 'Roboto-bold', sans-serif;
        font-size: 25pt;
        color: #fff;
        margin: 0px; }
      #background_bio1 h2,
      #background_bio2 h2 {
        font-family: 'Roboto-medium', sans-serif;
        font-size: 9pt;
        letter-spacing: 1px;
        color: #fff; }
      #background_bio1 hr,
      #background_bio2 hr {
        margin-top: 20px;
        margin-left: 0px; }
      #background_bio1 p,
      #background_bio2 p {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        color: #fff;
        margin: 0px;
        padding: 0px; }
      #background_bio1 input,
      #background_bio2 input {
        display: none;
        visibility: hidden; }
      #background_bio1 label,
      #background_bio2 label {
        text-align: left;
        color: #2BC275;
        margin-left: 0px;
        text-decoration: underline;
        padding-top: 15px; }
        #background_bio1 label::before {
          width: 20px;
          height: 20px;
          font-family: 'Roboto-bold', sans-serif;
          font-size: 12pt;
          text-decoration: underline;
          content: '\25bc  Hide Extended Bio';
          margin-right: 3px; }
        #background_bio1 #toggle1:checked ~ label::before {
          content: "\25b6  Ahmed Best Extended Bio"; }
        #background_bio1 #toggle1:checked ~ #expand1 {
          height: 0px; }
        #background_bio1 #expand1 {
          height: auto;
          overflow: hidden;
          transition: 0.5s;
          color: #fff; }

        #background_bio2 label::before {
          width: 20px;
          height: 20px;
          font-family: 'Roboto-bold', sans-serif;
          font-size: 12pt;
          text-decoration: underline;
          content: '\25bc  Hide Extended Bio';
          margin-right: 3px; }
        #background_bio2 #toggle2:checked ~ label::before {
          content: "\25b6  Dr. Lonny Brooks Extended Bio"; }
        #background_bio2 #toggle2:checked ~ #expand2 {
          height: 0px; }
        #background_bio2 #expand2 {
          height: auto;
          overflow: hidden;
          transition: 0.5s;
          color: #fff; }
/*** Creators Section: Ends ***/


/*** Contact Section: Starts ***/
#contact {
  width: 100%;
  height: auto;
  background-image: url("../images/stars_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  padding: 100px 20px; }
  #contact article {
    text-align: center;
    margin: 0; }
    #contact article h2 {
      font-family: 'Roboto-bold', sans-serif;
      font-size: 10pt;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px; }
    #contact article h1 {
      font-family: 'Roboto-bold', sans-serif;
      font-size: 30pt;
      color: #29a76d;
      text-transform: uppercase; }
    #contact article hr {
      margin-top: 10px;
      margin-bottom: 20px; }
    #contact article p {
      font-family: 'Roboto-medium', sans-serif;
      font-size: 12pt;
      color: #fff;
      margin: 0px;
      padding-bottom: 50px; }
/*** Contact Section: Ends ***/


/*** Footer: Starts ***/
#footer {
  height: 100%;
  text-align: center;
  background-color: #112032;
  margin: 0px;
  padding: 80px 20px 0px 20px; }
  .footerlinks h3 {
    font-family: 'Roboto-black', sans-serif;
    font-size: 12pt;
    color: #29a76d;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px; }
  .footerlinks ul {
    margin: 0 auto;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 25px; }
    .footerlinks ul li a {
      font-family: 'Roboto-medium', sans-serif;;
      font-size: 10pt;
      text-transform: uppercase;
      color: #fff;
      display: block;
      line-height: 30px; }
      .footerlinks ul li a:after {
        color: #fff; }
    #podcasthost img {
      width: 100px;
      margin: 0 auto; }
    #podcasthost a {
      padding-top: 10px; }

  #footer2 {
    height: 300px;
    background-color: #112032;
    text-align: center;
    padding-top: 40px; }
  #footer2 p {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    color: #29a76d;
    letter-spacing: 2px; }
  #footer2 h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #fff;
    padding-bottom: 20px; }
  #footer2 h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #fff;
    padding-top: 50px;
    margin: 0px; }
    #footer2 h6 a {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      color: #fff;
      letter-spacing: 1px;
      line-height: 20px; }
/*** Footer: Ends ***/


/*** Episodes Page: Starts ***/
.episodecontainer {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 10px; }
  .audiocontainer {
    height: 100%;
    padding: 10px;
    text-align: center; }
    .audiocontainer figure {
      background-color: #112032;
      padding: 40px; }
    .audiocontainer audio {
      width: 100%;
      background-color: #f1f3f4; }
  .audiodescriptioncontainer {
    height: 100%;
    padding: 10px; }
    .audiodescriptioncontainer h4 {
      color: #112032;
      font-family: 'Roboto-black', sans-serif;
      font-size: 22pt;
      text-transform: uppercase; }
    .audiodescriptioncontainer h6{
      font-family: 'Roboto-bold', sans-serif;
      font-size: 10pt;
      text-transform: uppercase;
      letter-spacing: 1pt;
      color: #28b56d;
      margin: -10px 0px 20px 0px; }
    .audiodescriptioncontainer p {
      font-family: 'Roboto', sans-serif;
      font-size: 12pt;
      color: #112032; }
    .audiodescriptioncontainer .share {
      font-family: 'Roboto-medium', sans-serif;
      font-size: 8pt;
      color: #808080;
      text-transform: uppercase; }
    .smicons {
      height: 25px;
      width: 25px;
      border-radius: 100%;
      display: inline-block;
      vertical-align: middle;
      margin: 0px 5px; }
  .episodelistcontainer {
    height: 100%;
    padding: 10px; }
    .episodelistcontainer p {
      font-family: 'Roboto-bold', sans-serif;
      font-size: 10pt;
      color: #112032;
      text-transform: uppercase; }
    .episodelistcontainer ul {
      list-style-type: none;
      margin: 0px; }
      #lastli {
        border-bottom: 1px solid #e6e6e6; }
      .episodelistcontainer ul li {
        width: 100%;
        height: 80px;
        padding: 0px;
        margin-right: 15px;
        border-top: 1px solid #E6E6E6; }
        .episodelistcontainer ul li:hover {
          background-color: #E6E6E6; }
          .episodelistcontainer ul li a {
            width: 100%;
            height: 70px;
            font-family: 'Roboto', sans-serif;
            font-size: 12pt;
            color: #808080;
            line-height: 80px;
            display: block; }
          .episodelistcontainer ul li a i {
            font-size: 30px;
            color: #29a76d;
            float: right; }
/*** Episodes Page: Ends ***/


/*** Blog Page: Starts ***/
#blogbodywrapper {
  width: 100vw;
  height: 100vh; }
  .blogcontainer {
    text-align: center;
    position: relative;
    top: 45%;
    transform: translateY(-50%);}
  .blogcontainer h1 {
    width: 100%;
    font-family: 'Russo One', sans-serif;
    font-size: 46pt;
    text-transform: uppercase;
    color: #28B56D; }
  .blogcontainer h6 {
    width: 100%;
    font-family: 'Russo One', sans-serif;
    font-size: 18pt;
    font-weight: lighter;
    text-transform: uppercase;
    color: #28B56D;
    margin-top: -15px; }
    .blogcontainer img {
      height: 100px;
      color: #28B56D; }
/*** Blog Page: Ends ***/

/*** Events Page: Starts ***/
#eventsbodywrapper {
  width: 100vw;
  height: 100vh; }
  .eventscontainer {
    text-align: center;
    position: relative;
    top: 45%;
    transform: translateY(-50%);}
  .eventscontainer h1 {
    width: 100%;
    font-family: 'Russo One', sans-serif;
    font-size: 46pt;
    text-transform: uppercase;
    color: #28B56D; }
  .eventscontainer h6 {
    width: 100%;
    font-family: 'Russo One', sans-serif;
    font-size: 18pt;
    font-weight: lighter;
    text-transform: uppercase;
    color: #28B56D;
    margin-top: -15px; }
    .eventscontainer img {
      height: 100px;
      color: #28B56D; }
/*** Events Page: Ends ***/


/************ Media Querie 300px: Starts ************/
@media screen
and (min-width: 300px)
and (max-width: 360px) {

/*** Home Section: Starts ***/
#home #homearticle_mt h1 {
  font-size: 26pt; }
#home #homearticle_mt h2 {
  font-size: 7.5pt; }
/*** Home Section: Ends ***/
}
/************ Media Querie 300px: Ends ************/


/************ Media Querie 768px: Starts ************/
@media screen
and (min-width: 768px) {


/*** Home Section: Starts ***/
#home {
  height: 1160px;
  background-position: bottom; }
#home #homearticle_mt h1 {
  font-size: 48pt;
  letter-spacing: 2px; }
#home #homearticle_mt h2 {
  font-size: 14pt; }
/*** Home Section: Ends ***/


/***  Shared styling across section and pages: Starts ***/
.section_container {
  height: 600px;
  padding: 0px; }
  .section_container article {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 40px; }
  .break_photo{
    height: 600px;
    background-position: center;
    margin: 0px;
    padding: 285px 0px; }
  .column-1{
    width: 50%;
    float: right; }
  .column-2 {
    width: 50%;
    float: left; }
  .link_box_mnl {
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0px 5px 0px 0px #112032;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%); }
  .link_box_mnl a img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
/***  Shared styling across section and pages: Ends ***/


/*** Creators Section: Starts ***/
#creators {
  height: auto;
  background-image: url('../images/stars_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 20px; }
  #creators article h2 {
    color: #fff; }
  #creators article h1 {
    color: #29a76d; }

  #creators_info1 {
    height: auto; }
    #creators_info1 img {
      width: 400px;
      height: 601px;
      text-align: center;
      padding: 50px 0px 0px 0px; }
    #creators_info1 #background_bio1 {
      width: 60%;
      height: auto;
      text-align: left;
      background-color: #fff;
      float: right;
      clear: right;
      margin-top: -65%;
      padding: 20px;
      position: relative;
      z-index: 20; }

  #creators_info2 {
    height: auto;
    padding: 100px 0px 0px 0px; }
    #creators_info2 img {
      width: 400px;
      height: 601px;
      text-align: center;
      float: right;
      clear: right;
      padding: 0px; }
    #creators_info2 #background_bio2 {
      width: 60%;
      height: auto;
      text-align: left;
      background-color: #fff;
      float: left;
      clear: left;
      margin-top: -72%;
      padding: 20px;
      position: relative;
      z-index: 20; }

    #creators_info1 #background_bio1 h1,
    #creators_info2 #background_bio2 h1,
    #creators_info1 #background_bio1 h2,
    #creators_info2 #background_bio2 h2,
    #creators_info1 #background_bio1 p,
    #creators_info2 #background_bio2 p {
      color: #112032; }
/*** Creators Section: Ends ***/


/*** Contact Section: Starts ***/
#contact {
  background-color: #fff;
  background-image: none;
  padding: 100px 50px; }
  #contact article {
    margin: 0 auto; }
    #contact article h1 {
      font-size: 34pt;
      color: #29a76d; }
    #contact article h2 {
      font-size: 12pt;
      color: #112032; }
    #contact article p {
      color: #112032 ; }
    #contact .link_box_mobile {
      width: 180px; }
/*** Contact Section: Ends ***/


/*** Footer Section: Starts ***/
#footer {
  height: 300px;
  margin: 0px;
  padding-top: 50px; }
  #podcasthost a {
    padding-top: 10px;
    padding-bottom: 20px; }
#footer2 {
  padding: 0px 0px 0px 140px; }
  #footer2 h6 {
    padding-top: 25px; }
/*** Footer Section: Ends ***/
}
/************ Media Querie 768px: Ends ************/


/************ Media Querie 1024px: Starts ************/
@media screen
and (min-width: 1024px) {


/*** Home Section: Starts ***/
#home {
  height: 1550px; }
  #home #homearticle_mt {
    padding-top: 80px; }
    #home #homearticle_mt h1 {
      font-size: 65pt; }
    #home #homearticle_mt h2 {
      font-size: 20pt; }
/*** Home Section: Ends ***/


/*** Creators Section: Starts ***/
#creators {
  padding: 100px; }
  #creators_container {
    max-width: 900px;
    margin: 0 auto; }
  #creators_info1 #background_bio1{
    width: 60%;
    margin-top: -450px;
    padding: 20px; }
  #creators_info2 #background_bio2 {
    width: 60%;
    margin-top: -510px;
    padding: 20px; }
/*** Creators Section: Ends ***/


/*** Contact Section: Starts ***/
#contact {
  background-color: #fff;
  background-image: none;
  padding: 100px 140px; }
/*** Contact Section: Ends ***/


/*** Footer Section: Starts ***/
#footer2 {
  padding: 0px 0px 0px 220px; }
/*** Footer Section: Ends ***/
}
/************ Media Querie 1024px: Ends ************/


/************ Media Querie 1280px: Starts ************/
@media screen
and (min-width: 1200px) {

/*** Home Section: Starts ***/
#home {
  background-image: none;
  height: 100%; }
  #homeimage {
    display: inherit;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/homeimage_desktop2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
  #home #homearticle_mt {
    display: none; }
  #home #homearticle_desktop {
    display: inherit;
    text-align: center;
    text-transform: uppercase;
    top: 1.70%;
    padding-right: 400px;
    position: absolute; }
    #home #homearticle_desktop h1 {
      font-family: 'Russo One', sans-serif;
      font-weight: bold;
      font-size: 48pt;
      color: #29a76d;
      letter-spacing: 4px; }
    #home #homearticle_desktop h2 {
      font-family: 'Roboto-black', sans-serif;
      font-size: 9pt;
      color: #fff;
      letter-spacing: 5pt; }
    #home #homearticle_desktop p {
      width: 650px;
      font-family: 'Roboto-bold', sans-serif;
      font-size: 12pt;
      color: #fff;
      letter-spacing: 1px;
      text-align: center;
      text-transform: none;
      line-height: 30px;
      padding-top: 50px;
      margin: 0 auto;  }
      #home #homearticle_desktop img {
        width: 40px;
        height: 30px;
        margin-top: 25px; }

  /*** Intro Paragraph: Starts ***/
  #mobile_intro_content {
    display: none; }
  /*** Intro Paragraph: Ends ***/

/*** Home Section: Ends ***/

/*** Shared styling across sections: Starts ***/
.section_container article {
  padding: 0px 70px; }
/*** Shared styling across sections: Ends ***/


/*** Contact Section: Starts ***/
#contact {
  max-width: 1000px;
/*padding: 100px 240px;*/ }
  #contact .link_box_mobile {
    width: 150px;
    font-size: 12pt; }
  #contact .link_box_mobile:hover {
    color: #fff; }
/*** Contact Section: Ends ***/
}
/************ Media Querie 1280px: Ends ************/


/************ Media Querie 1440px: Starts ************/
@media screen
and (min-width: 1440px) {

/*** Home Section: Starts ***/
#home #homearticle_desktop {
  padding-right: 450px; }
  #home #homearticle_desktop h1 {
    font-size: 64pt; }
  #home #homearticle_desktop h2 {
    font-size: 14pt; }
  #home #homearticle_desktop p {
    width: 800px;
    font-size: 16pt;
    line-height: 35px; }
  #home #homearticle_desktop img {
    width: 50px;
    height: 40px;
    margin-top: 28px; }
/*** Home Section: Ends ***/

}
/************ Media Querie 1440px: Ends ************/


/************ Media Querie 1680px: Starts ************/
@media screen
and (min-width: 1680px) {

/*** Home Section: Starts ***/
#home #homearticle_desktop {
  padding-right: 550px; }
#home #homearticle_desktop h1 {
  font-size: 67pt; }
#home #homearticle_desktop h2 {
  font-size: 15pt; }
#home #homearticle_desktop p {
  width: 850px;
  font-size: 17pt;
  line-height: 40px; }
#home #homearticle_desktop img {
  width: 55px;
  height: 45px;
  margin-top: 35px; }
/*** Home Section: Ends ***/

}
/************ Media Querie 1680px: Ends ************/


/************ Media Querie 1920px: Starts ************/
@media screen
and (min-width: 1920px) {

/*** Home Section: Starts ***/
#home #homearticle_desktop {
  padding-right: 600px; }
#home #homearticle_desktop h1 {
  font-size: 80pt; }
#home #homearticle_desktop h2 {
  font-size: 19pt; }
#home #homearticle_desktop p {
  width: 980px;
  font-size: 20pt;
  line-height: 48px; }
#home #homearticle_desktop img {
  width: 60px;
  height: 50px;
  margin-top: 40px; }
/*** Home Section: Ends ***/

}
/************ Media Querie 1920px: Ends ************/


/************ Media Querie 2560px: Starts ************/
@media screen
and (min-width: 2560px) {

/*** Home Section: Starts ***/
#home #homearticle_desktop {
  padding-right: 850px; }
#home #homearticle_desktop h1 {
  font-size: 100pt; }
#home #homearticle_desktop h2 {
  font-size: 26pt; }
#home #homearticle_desktop p {
  width: 1250px;
  font-size: 25pt;
  line-height: 58px; }
#home #homearticle_desktop img {
  width: 65px;
  height: 55px;
  margin-top: 45px; }
/*** Home Section: Ends ***/

}
/************ Media Querie 2560px: Ends ************/


/************ Media Querie 4096px: Starts ************/
@media screen
and (min-width: 4096px) {

/*** Home Section: Starts ***/
#home #homearticle_desktop {
  padding-right: 1500px; }
#home #homearticle_desktop h1 {
  font-size: 170pt; }
#home #homearticle_desktop h2 {
  font-size: 49pt; }
#home #homearticle_desktop p {
  width: 2010px;
  font-size: 43pt;
  padding-top: 100px;
  line-height: 90px; }
#home #homearticle_desktop img {
  width: 100px;
  height: 90px;
  margin-top: 80px; }
/*** Home Section: Ends ***/

}
/************ Media Querie 4096px: Ends ************/


/************ Media Querie 5120px: Starts ************/
@media screen
and (min-width: 5120px) {

/*** Home Section: Starts ***/
#home #homearticle_desktop {
  padding-right: 1800px; }
#home #homearticle_desktop h1 {
  font-size: 230pt; }
#home #homearticle_desktop h2 {
  font-size: 67pt; }
#home #homearticle_desktop p {
  width: 2600px;
  font-size: 55pt;
  padding-top: 120px;
  line-height: 110px; }
#home #homearticle_desktop img {
  width: 120px;
  height: 110px;
  margin-top: 90px; }
/*** Home Section: Ends ***/

}
/************ Media Querie 5120px: Ends ************/
